ul {
    list-style-type: none;
    padding: 5px;
}

li {
    display: inline;
}

@media only screen and (max-width: 400px) {
    li {
        display: flex;
    }
}

a {
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
}

.active {
    background-color: gray;
    color: white;
    border-radius: 5px;
}

.header {
    border: solid 1px gray;
    background-color: lightgray;
}

